SITE_URL=http://localhost:3000
DEPLOY_ENV=development

CRM_API_URL=https://api.crm.adamo.md/v1
CRM_API_LOGIN=
CRM_API_PASSWORD=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

CURIERRAPID_API_KEY=
POSTA_RAPIDA_WEIGHT=1
POSTA_RAPIDA_LENGTH=20
POSTA_RAPIDA_WIDTH=20
POSTA_RAPIDA_HEIGHT=10

FANCOURIER_API_KEY=
FANCOURIER_WEIGHT_DEFAULT=1
FANCOURIER_LENGTH=20
FANCOURIER_WIDTH=10
FANCOURIER_HEIGHT=20

N999_API_KEY=
N999_PHONE=
N999_IMAGE_HOSTS=adamo-md-static.s3.eu-north-1.amazonaws.com
SYNC_999_SECRET=
CRON_SECRET=
